<div class="flex flex-col">
  <nav
    class="flex items-center justify-between bg-[#1A1B23] w-screen h-[75px] px-10 shadow-xl"
  >
    <img
      src="../assets/techzu.png"
      alt="techzu logo"
      width="170"
      height="170"
    />
    <ul class="flex items-center justify-center gap-6 text-white">
      <li class="text-[#FF0000] font-[500] text-lg px-3 py-1 cursor-pointer">
        Home
      </li>
      <li
        class="font-[400] text-lg hover:bg-white hover:text-black px-3 py-1 rounded-md cursor-pointer"
      >
        Service
      </li>
      <li
        class="font-[400] text-lg hover:bg-white hover:text-black px-3 py-1 rounded-md cursor-pointer"
      >
        About us
      </li>
    </ul>
  </nav>
  <main class="flex-auto w-full h-screen">
    <!-- <app-add-todo></app-add-todo>
    <app-todo></app-todo> -->
    <section class="relative bg-black text-left pb-0 bg-cover bg-center w-full h-screen">
      <div
        class="px-6 sm:px-12 lg:px-16 xl:px-24 xxl:px-40 flex items-center justify-center overflow-hidden relative min-h-[540px] h-full"
      >
        <div class="overflow-hidden">
          <video
            class="object-cover h-full min-h-[56.25vw] absolute left-[50%] top-[50%] z-10 translate-x-[-50%] translate-y-[-50%] opacity-70"
            muted
            autoplay
            loop
          >
            <source src="../assets/bannerVideo.mp4" type="video/mp4" />
          </video>
        </div>

        <div
          class="absolute left-0 right-0 top-0 z-[100%] w-full h-full bg-[rgba(0,0,0,.3)] pointer-events-none"
        ></div>
        <div class="max-w-3xl relative z-20 text-center mx-auto mt-6">
          <h1
            class="text-white md:text-4xl mb-8 lg:text-[3rem] text-[30px] p-0 m-0 leading-[2.5rem] lg:leading-[3.4rem]"
          >
            Your Tech Partner for SMEs and StartupsMobile Applications
            Enterprise Solutions Partner
            Website & Ecommerce Business & much more.
          </h1>
          <p class="text-gray-200 mb-6 font-[400] text-[16px] leading-[1.9rem]">
            Let’s have a chat
          </p>
          <button
            class="bg-black rounded text-lg px-8 py-6 inline-block text-white no-underline"
          >
            Get Started
          </button>
        </div>
      </div>
    </section>
  </main>
  <footer
    class="bg-[#1A1B23] w-full py-10 px-10 flex items-center justify-between"
  >
    <div>
      <img
        src="../assets/techzu.png"
        alt="techzu logo"
        width="170"
        height="170"
        class="mb-8"
      />
      <p class="text-white py-1 text-[24px]">You Imagine, We Build.</p>
      <p class="text-white pt-1">IT Agency in Singapore.</p>
      <p class="text-white pt-1">Tel : 6848 1012</p>
      <p class="text-white pt-4">Email : hello@techzu.co</p>
    </div>
    <p class="text-white">
      ©2019 – 2021 All Rights Reserved by Techzu Ichicode.
    </p>
  </footer>
</div>
